/* .App {
  text-align: center;
  font-size: 10px;
  background-color: #273136;
  color: white;
  height: 100vh;
  position: relative;
  display: inline-block;
} */
/* 
.container {
  text-align: center;
  width: 450px;
  display: inline-block;
} */

/* .nice-input{
  font-size: 2em;
  width: 100%;
  padding: .5em;
  margin: 0 .5em .5em .5em;
  box-sizing: border-box;
  border-radius: 5px;
  white-space: nowrap;
} */

/* .form-error {
  border: 3px solid red;
} */

/* .h1-error {
  font-size: 3em;
  color: red;
} */

/* .jumbotron {
  margin: 0 0 1em 0;
  padding: .25em 0 .25em 0;
  font-size: 7em;
  width: 100vw;
  height: auto;
  background-color: #4EADDE;
  position: relative;
} */

/* textarea {
  width: 100%;
  height: auto;
  font-size: 3em;
  resize: none;
  box-sizing: border-box;
  border-radius: 5px;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  
  white-space: normal;
  text-align: justify;
  -moz-text-align-last: center; 
  text-align-last: center;
} */

/* .fancy-button {
  width: auto;
  font-size: 3em;
  border-radius: 5px;
  padding: .5em;
  margin: .25em;
  text-decoration: bold;
} */

/* .form-label {
  font-size: 1.75em;
} */

/* .select-label {
  display: block;
} */

/* .select-button-container {
  display: flex;
  justify-content: space-around;
} */

/* select {
  width: 10em;
  font-size: 2em;
  height: 2em;
  padding: .5em;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
} */
