body {
  font-size: 10px;
  background-color: #405058;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
color pallette:
  #273136
  #FF7381
  #59C8FF
  #CCC733
  #B3AE36
  #7381ff
*/
